* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

body {
	background: #00d2ff;
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
	background: linear-gradient(to right, #3a7bd5, #00d2ff);
	height: 100%;
}

.header, .todo-button {
	background: #B2FEFA;
    background: #026afc;
}

div.container {
	background: rgba(250, 250, 250, 0.8);
}

/* Targeting the newly created todo div */
.todo {
	margin: 0.5rem;
	background: white;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
	border-radius: 4px;
	box-shadow: rgb(177, 177, 177) 0px 4px 8px;
}

.todo li {
	flex: auto;
}

.todo:hover {
	transform: scale(1.1);
}

.todo li {
	flex: 1;	
}

.trash-btn, .done-btn {
	color: #fd0000;
	padding: 0.42rem;
	cursor: pointer;
	font-size: 0.7rem;
	border: none;
	outline: none;
}

.done-btn{
	color: #02CE00;
}

/* list Padding */
.todo-item {
	padding: 0.3rem 0.8rem;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.done {
	text-decoration: line-through;
	opacity: 0.5;
}

.fall {
	animation: removed-item-animation 0.8s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
	transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
	0% {
		opacity: 1;
		transform: rotateZ(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(600px) rotateZ(90deg);
	}
}	

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.todo-list {
		min-width: 35%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.todo-list {
		min-width: 40%;
	}
}

@media (max-width: 604px) {
	.todo-list {
		min-width: 45%;
		list-style: none;
	}
}

/********** Super extra small devices Only **********/
@media (max-width: 479px) {
	
	html,
	body {
		background: none;
		margin: 0;
		padding: 0;
	}

	div.container {
		width: 100%;
		margin: 0;
		height: 100vh;
	}

	.todo-list {
		min-width: 60%;
		list-style: none;
	}
	
	.filter-todo {
		padding: 0.3rem;
		font-size: 0.8rem;
		width: 5rem;
	}
	
	#form, #items {
		width: 100%;
		padding: 0.8rem;
	}
}